<style>
    body{
     background-color: #17a2b8;
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 200vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 600px;
  height: 500px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
}
</style>
 <div id="login">
     
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="change" class="form" name="form1"  action="/changePassword" method="post">
                            <h3 class="text-center text-info">Change Password</h3>
                 
                            <div class="form-group">
                                <p class="text-danger">{{falsePassword}}</p>
                                <label for="username" class="text-info">Enter Current Password</label><br>
                                <p class="error text-danger"></p>
                                <input type="text" name="currentPassword" id="currentPassword" class="form-control">
                            </div>
                    
                             <div class="form-group">
                                <label for="username" class="text-info">Enter New Password</label><br>
                                 <p class="error text-danger"></p>
                                <input type="text" name="newPassword" id="newPassword" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Retype New Password</label><br>
                                 <p class="error text-danger"></p>
                                <input type="text" name="confirmPassword" id="confirmPassword" class="form-control">
                            </div>
                         <center>
                            <div class="form-group">
                            
                                <input type="submit"   name="submit" class="btn btn-info btn-md">
                            </div>
                           </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
   let form=document.getElementById('change')
   let pass1=document.getElementById('currentPassword')
   let pass2=document.getElementById('newPassword')
   let pass3=document.getElementById('confirmPassword')
   let error=document.getElementsByClassName('error')

   form.addEventListener('submit',(e)=>{
       if(pass1.value==''||pass1.value==null){
    
           error[0].innerHTML="current Password cannot be blank"
            e.preventDefault()
       }
       if(pass2.value==''||pass2.value==null){
            
           error[1].innerHTML="New Password cannot be blank"
            e.preventDefault()
       }
       if(pass3.value==''||pass3.value==null){
    error[2].innerHTML="Conform Password cannot be blank"
            e.preventDefault()
       }
       if(pass2.value!=pass3.value){
           error[3].innerHTML="Miss Match Current Password and conform Password"
           e.preventDefault()
       }



   })
   
        
    
</script>
