
<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: #fff;
}
.container {
  width: 400px;
  height: 300px;
  background-color: #fff;
  margin: 150px auto;
  border-radius: 11px;
  padding: 40px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* top-header */
.top-header h3 {
  text-align: center;
  color: #0b0c0c;
}
.top-header p {
  color: #cecfd3;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}
/* top-header */
/* form */
.user input,
.pass input {
  width: 100%;
  height: 35px;
  border: none;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  outline: none;
  padding: 0 40px;
}
::placeholder {
  color: #9ca5b4;
  font-size: 12px;
}
.user i,
.pass i {
  position: relative;
  top: 31px;
  right: -10px;
  color: #3981ed;
}
/* form */
/* button */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.btn button {
  width: 100%;
  border: none;
  height: 35px;
  background-color: #277ffd;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
/* button */
p.last {
  text-align: center;
  position: relative;
  bottom: 120px;
  font-size: 12px;
}
</style>

    <div class="container">
      <div class="top-header">
       
        <h3>Welcome back</h3>
        <p style="color: #0b0c0c;">Enter your Phone number</p>
      </div>
      <div  class="text-danger" id="error"></div>
      <form action="/numberChecking" id="otp" method="post">
        <div class="user">
          <i class="bx bxs-user-circle"></i>
           <div class="text-danger">{{phone}}</div>
          <input type='text' style="color: #0b0c0c;" id="phone" name='phone' placeholder="Enter your Contact Number" />
        </div>
        
     
      <div class="btn">
      <input class="btn" type="submit"value="Submit">
      </div>
    </div>
    
   </form>
   <script>
const otp=document.getElementById("otp")
  const phone=document.getElementById("phone")
   const errorElement=document.getElementById("error")

      otp.addEventListener('submit',(e)=>{
           
                      let messages=[]
       
      if(phone.value.length!=10||phone.value.length==''){
              messages.push('* required ten digits')
              console.log(messages)
      }
      
      
          if(messages.length>0){
                 e.preventDefault()
                 errorElement.innerText=messages.join(',')
          }
         
      })

  
          </script>
