<div class="breadcrumbs">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="breadcrumbs-content">
          <h1 class="page-title">Login</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <ul class="breadcrumb-nav">
          <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
          <li>Login</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="account-login section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
        <form class="card login-form" method="post" action="/home" id="login">
          <div class="card-body">
            <div class="title">
              <h3>Login Now</h3>
             
            </div>
       
            <div class="form-group input-group">
                  <p class="text-danger">{{error}}</p>
                <p class="text-danger">{{status}}</p>
              <label for="reg-fn">Email</label>
              <p class="text-danger error"></p>
              <input class="form-control" id="email"  name="email" type="email" >
            </div>
            <div class="form-group input-group">
              <label for="reg-fn">Password</label>
                   <p class="text-danger error"></p>
              <input class="form-control" type="password" id="password" name="password" >
            </div>
          
            <div class="button">
              <button class="btn"  value="Login" name="submit" type="submit">Login</button>
                 </div>
            <p class="outer-link">Login with OTP? <a href="/contact" >Click here </a>
            </p>
          
          
            <p class="outer-link">Don't have an account? <a href="/signup">Register here </a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





  {{!-- <div class="footer-middle">
    <div class="container">
      <div class="bottom-inner">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">

            <div class="single-footer f-contact">
              <h3>Get In Touch With Us</h3>
              <p class="phone">Phone: +1 (900) 33 169 7720</p>
              <ul>
                <li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
                <li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
              </ul>
              <p class="mail">
                <a
                  href="https://demo.graygrids.com/cdn-cgi/l/email-protection#9ae9efeaeaf5e8eedae9f2f5eafde8f3fee9b4f9f5f7"><span
                    class="__cf_email__"
                    data-cfemail="b8cbcdc8c8d7caccf8cbd0d7c8dfcad1dccb96dbd7d5">[email&#160;protected]</span></a>
              </p>
            </div>

          </div>
          <div class="col-lg-3 col-md-6 col-12">

            <div class="single-footer our-app">
              <h3>Our Mobile App</h3>
              <ul class="app-btn">
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-apple"></i>
                    <span class="small-title">Download on the</span>
                    <span class="big-title">App Store</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="lni lni-play-store"></i>
                    <span class="small-title">Download on the</span>
                    <span class="big-title">Google Play</span>
                  </a>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-lg-3 col-md-6 col-12">

            <div class="single-footer f-link">
              <h3>Information</h3>
              <ul>
                <li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Contact Us</a></li>
                <li><a href="javascript:void(0)">Downloads</a></li>
                <li><a href="javascript:void(0)">Sitemap</a></li>
                <li><a href="javascript:void(0)">FAQs Page</a></li>
              </ul>
            </div>

          </div>
          <div class="col-lg-3 col-md-6 col-12">

            <div class="single-footer f-link">
              <h3>Shop Departments</h3>
              <ul>
                <li><a href="javascript:void(0)">Computers & Accessories</a></li>
                <li><a href="javascript:void(0)">Smartphones & Tablets</a></li>
                <li><a href="javascript:void(0)">TV, Video & Audio</a></li>
                <li><a href="javascript:void(0)">Cameras, Photo & Video</a></li>
                <li><a href="javascript:void(0)">Headphones</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="footer-bottom">
    <div class="container">
      <div class="inner-content">
        <div class="row align-items-center">
          <div class="col-lg-4 col-12">
            <div class="payment-gateway">
              <span>We Accept:</span>
              <img src="assets/images/footer/credit-cards-footer.png" alt="#">
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="copyright">
              <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow" target="_blank">GrayGrids</a>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="socila">
              <li>
                <span>Follow Us On:</span>
              </li>
              <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
              <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
              <li><a href="javascript:void(0)"><i class="lni lni-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


<a href="#" class="scroll-top">
  <i class="lni lni-chevron-up"></i>
</a>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/tiny-slider.js"></script>
<script src="assets/js/glightbox.min.js"></script>
<script src="assets/js/main.js"></script>
</body>

<!-- Mirrored from demo.graygrids.com/themes/shopgrids/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jan 2022 17:32:56 GMT -->

</html> --}}











{{!--
<style>
  #bor {
    border-radius: 25px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 20px 5px #888888;

  }
</style>
<center>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <center class="text-center ">
      <div class="customer-login-register">
        <center>
          <h3 class="text-white m-1">Login</h3>
          <center>
            <div class="" style="background-color:rgb(218,220,232);" id="bor">

              <form action="/home" id="login" method="post" enctype="multipart/form-data">


                <p class="text-danger">{{error}}</p>
                <p class="text-danger">{{status}}</p>
                <p class="coupon-input form-row-first">
                  <label> email <span class="required">*</span></label>
                <div class="text-danger error"></div>
                <input type="text" id="email"  name="email">
                </p>
                <p class="coupon-input form-row-last">
                  <label>password <span class="required">*</span></label>
                <div class="text-danger error"></div>
                <input type="password" class="form-control-lg" id="password" name="password">
                </p>
                <div class="clear"></div>

                <button value="Login" name="submit" class="btn-info btn" type="submit">Login</button><br>
                {{!-- <label><input type="checkbox" value="1"><span>Remember me</span></label>
                <a href="#" class="lost-password">Lost your password?</a> --}}
                <a href="/signup" class=' btn text-danger'>For signup click here</a>

              </form>
              <div>
                <p class="last">Login with OTP? <a href="/contact" class="text-danger"> Click Here </a></p>
              </div>

            </div>
          </center>
      </div>
    </center>

  </div>
</center>


--}}




{{!-- validation --}}

<script>
  const name = document.getElementById("email")
  const password = document.getElementById("password")
  const login = document.getElementById("login")
  const errorElement = document.getElementsByClassName('error')

  login.addEventListener('submit', (e) => {

    let messages = []
    if (name.value == '' || name.value == null) {
      messages.push('email is required')
      console.log(messages)
      errorElement[0].innerText = "email is required"
    }
    if (password.length < 3 || password.value == '') {
      messages.push('password required minimum 3 charactors')
      console.log(messages)
      errorElement[1].innerText = "password required minimum 3 charactors'"
    }


    if (messages.length > 0) {
      e.preventDefault()
      errorElement.innerText = messages.join(',')
    }

  })


</script> --}}