
<style>
  #bor {
       border-radius: 25px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 20px 5px #888888;
   
}
</style>   
                 <center>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                               <center class="text-center ">
                            <div class="customer-login-register" >
                                <center>
                                <h3 class="text-white m-1">Login</h3>
                                  <center>
                                <div  class="" style="background-color:rgb(218,220,232);" id="bor">
                                 
                                  <form action="/home" id="login" method="post" enctype="multipart/form-data">
                                  
                                       
                                              <p class="text-danger">{{error}}</p>
                                         <p class="text-danger">{{status}}</p> 
                                          <p class="coupon-input form-row-first">
                                            <label> email <span class="required">*</span></label>
 <div class="text-danger error"></div>
                                            <input type="text"id="email" class="form-control-lg" name="email">
                                        </p>
                                        <p class="coupon-input form-row-last">
                                            <label>password <span class="required">*</span></label>
                                             <div class="text-danger error"></div>
                                            <input  type="password" class="form-control-lg" id="password" name="password">
                                        </p>
                                       <div class="clear"></div>
                                    
                                            <button value="Login" name="submit" class="btn-info btn" type="submit">Login</button><br>
                                            {{!-- <label><input type="checkbox" value="1"><span>Remember me</span></label>
                                            <a href="#" class="lost-password">Lost your password?</a> --}}
                                             <a href="/signup" class=' btn text-danger' >For signup click here</a> 
                                        
                                    </form>
                                    <div>
  <p class="last">Login with OTP? <a href="/contact" class="text-danger"> Click Here </a></p>
</div> 

                                </div>
                                  </center>
                            </div>
                              </center>
                       
                        </div>
                 </center>







{{!-- validation --}}

<script>
  const name=document.getElementById("email")
   const password=document.getElementById("password")
      const login=document.getElementById("login")
      const errorElement=document.getElementsByClassName('error')

      login.addEventListener('submit',(e)=>{
           
                      let messages=[]
         if(name.value==''||name.value==null){
              messages.push('email is required')
              console.log(messages)
              errorElement[0].innerText="email is required"
      }
     if(password.length<3||password.value==''){
              messages.push('password required minimum 3 charactors')
              console.log(messages)
              errorElement[1].innerText="password required minimum 3 charactors'"
      }
      
      
          if(messages.length>0){
                 e.preventDefault()
                 errorElement.innerText=messages.join(',')
          }
         
      })

  
          </script>
