
<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: #508bfc;
}
.container {
  width: 500px;
  height: 400px;
  background-color: #508bfc;
  margin: 150px auto;
  border-radius: 11px;
  padding: 40px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* top-header */
.top-header h3 {
  text-align: center;
  color: #0b0c0c;
}
.top-header p {
  color: #cecfd3;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}
/* top-header */
/* form */
.user input,
.pass input {
  width: 100%;
  height: 35px;
  border: none;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  outline: none;
  padding: 0 40px;
}
::placeholder {
  color: #9ca5b4;
  font-size: 12px;
}
.user i,
.pass i {
  position: relative;
  top: 31px;
  right: -10px;
  color: #3981ed;
}
/* form */
/* button */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.btn button {
  width: 100%;
  border: none;
  height: 35px;
  background-color: #277ffd;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
/* button */
p.last {
  text-align: center;
  position: relative;
  bottom: 120px;
  font-size: 12px;
}
</style>

    <div class="container">
      <div class="top-header">
      
        <h3>Welcome back</h3>
        <p>Enter OTP </p>
      

        
        <div class="font-weight-bold text-center mt-5">
          Time Left :: <div  class="text-danger" id="error"></div>
          <p id="demo"></p>
        </div>


      </div>
      
      <form action="/otpVerification" id="otp" method="post">
     
      <div class="text-danger">{{OtpError}}</div>
        <div class="user">
          <i class="bx bxs-user-circle"></i>
          <input type='text' id="verify" name='otp' placeholder="Enter One Time Password" />
        </div>
   <input type="submit"value="Submit"class="btn btn-success btn_verify">
    </form>

  <button class="text-danger font-italic btn_resend" style="display: none;">Resend OTP</button>   


      

      </div>
{{!-- 
      <button type="submit" onclick="validateOtpForm()" class="btn btn-success btn_verify">continue</button> --}}
 
       
          
  

{{!-- otp resent --}}

<script>

$(".btn_resend").on("click", () => {
  
    $.ajax({
        url : "/resentOtp" ,
        type : "post" ,
        dataType : "json" ,
        success : function (res) {
            if (res) {
                countDownTimer()
                $('.btn_resend').hide()
                $('.btn_verify').show()
            }
            else {
                alert("otp sending failed")
            }
        }
    })
})

var seconds = 60;

function countDownTimer(){
    var countDownDate = new Date();
    countDownDate.setSeconds( countDownDate.getSeconds() + seconds );

    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Display the result in the element with id="demo"
        $("#demo").html(minutes + "m " + seconds + "s ");
        
        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            $("#demo").html("EXPIRED");
            $('.btn_resend').show()
                $('.btn_verify').hide()
        }
    }, 1000);
}

$( document ).ready(function() {
    countDownTimer();
});


</script>


   <script>
  const otp=document.getElementById("otp")
  const verify=document.getElementById("verify")
    const errorElement=document.getElementById("error")

      otp.addEventListener('submit',(e)=>{
           
                      let messages=[]
       
      if(verify.value.length!=6){
              messages.push('password required six digits')
              console.log(messages)
      }
      
      
          if(messages.length>0){
                 e.preventDefault()
                 errorElement.innerText=messages.join(',')
          }
         
      })

  
          </script>
        